.project{
    animation-name:identifier;
   animation-duration: 8s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
}
.card12{
  min-height:190px;
}
.Web{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-projects{
  font-weight: 400;
  background: -webkit-linear-gradient(90deg,#3CCDE9,#65C891);
background-clip: text;
-webkit-text-fill-color: transparent;
}

.titlename{
  font-weight: bold;
}


@keyframes identifier {
  0%    { color: red; }
  25%   { color: Maroon  }
  50%   { color: rgb(70, 70, 238); }
  75%  { color: purple }
  100%  { color: red; }
  }