.card1{
    min-height:190px;
    
}

.button1{
    background-color: transparent;
    width:100%;
    border-radius: 0px;
    color: #909090;
    border:2px solid #A9A9A9;
}




@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
  }
  
.card-body{
    display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.heading{
    animation-name:identifier4;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
  }

  .concepts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding:0px 5px;
    /* border-top: 2px solid grey; */
}

.concept{
    padding: 10px 50px;
}
.textAlign{
    text-align: center;
}
  


  @keyframes identifier4 {
    0%    { color: red; }
    25%   { color: Maroon  }
    50%   { color: rgb(70, 70, 238); }
    75%  { color: purple }
    100%  { color: red; }
  }
h1{
    font-size:40px;
}


h4{
 font-size:30px;
 text-align: center;
}


@media only screen and (max-width:770px){
    .img{
        height:'auto';
        width:100%;
    }
    .concept{
      padding: 10px 10px;
    }
    h1{
        font-size:30px;
    }
    
    h4{
        font-size:25px;
    
       }
}