.heading3{
    position: absolute;
    bottom:30px;
    padding:0px 30px;
    font-size: 32px;
    color:white;
    transition: all .5s ease-in-out;

}
.ticker__item img{
  height: 150px;
  width: 150px;
}
.ticker__item img:hover{
filter: invert(70%) !important;
}

.Service-Project-Heading{
  font-size: 50px;
}

.Service-Project-Text{
  font-size: 20px;
}

.Service-Project-Button{
  font-size: 20px;
    width:40%;
    display: flex;
    justify-content: center;
}

.images-2{display:flex;flex-direction:row;width:100%};
.Box{
  width:33%;
  margin:0px 20px 20px 0px;
}
.Box1{
  width:32%;
  margin:0px 20px 20px 0px;
}

.Main-Service{
  margin: 0px 50px;
}

.Cards-Service{
display: flex;
flex-direction:row;
justify-content: center;
align-items: center;
}


.our-services{
  font-size: 40px;
    font-weight: 400;
    background: -webkit-linear-gradient(180deg,#363636, #4FC7EC,#65C891);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text{
    position: absolute;
    bottom:30px;
    padding:0px 30px;
    color:white;
    font-size: 15px;
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.Box:hover .heading3{
    bottom:200px;
}
.Box:hover .text{
    opacity: 1;
    height: auto;
}

.Box1:hover .heading3{
  bottom:200px;
}
.Box1:hover .text{
  opacity: 1;
  height: auto;
}

.Service-Project{
  width: 65%;
  padding:20px 50px 30px 50px;
}
// * { box-sizing: border-box; }
// $duration: 8s;

// @-webkit-keyframes ticker {
//   0% {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//     visibility: visible;
//   }

//   100% {
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }
// }

// @keyframes ticker {
//   0% {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//     visibility: visible;
//   }

//   100% {
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }
// }

// .ticker-wrap {
//   bottom: 0;
//   width: 100%;
//   overflow: hidden;
//   height: 8rem;
//   background-color: transparent; 
//   box-sizing: content-box;

//   .ticker {
//     display: inline-block;
//     height: 4rem;
//     width: 100%;
//     line-height: 4rem;  
//     white-space: nowrap;
//     box-sizing: content-box;

//     -webkit-animation-iteration-count: infinite; 
//             animation-iteration-count: infinite;
//     -webkit-animation-timing-function: linear;
//             animation-timing-function: linear;
//    -webkit-animation-name: ticker;
//            animation-name: ticker;
//     -webkit-animation-duration: $duration;
//             animation-duration: $duration;
    

//     &__item {

//       display: inline-block;

//       padding: 0 2rem;
//       font-size: 2rem;
//       color: white;   

//     }

//   }

// }


.bar {
  width: 100%;
  padding: 25px 0;
  color: white;
  font-family: Gelasio;
  font-size: 18px;
}

.bar_content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-100%); }
}

@media only screen and (max-width:1100px) {
  .Main-Service{
    margin: 50px 0px;
  }
  .Cards-Service{
    display: flex;
    flex-direction:column;
    }
    .Box{
      width:100%;
    }
    
    .Box1{
      width:100%;
    }
    .images-2{flex-direction:column};
    .Service-Project{
      width: 100%;
      padding:20px 20px 30px 20px;
    }

    .Service-Project-Heading{
      font-size: 30px;
    }
    
    .Service-Project-Text{
      font-size: 15px;
    }
    
    .Service-Project-Button{
      font-size: 15px;
      width:80%;
    }
    .Box{
      margin:0px 0px 20px 0px;
    }
    .Box1{
      margin:0px 0px 20px 0px;
    }
    .images-2{width:100%};
}


@media only screen and (max-width:600px) {
  .our-services{
    font-size: 30px;
  }
  .ticker__item img{
    height: 100px;
    width: 100px;
  }
}