/* .nav-links:hover .back{
    color:white;
 }

 .nav-links:hover{
    background-color:#3ded97;
    box-shadow: inset 150px 0 0 0 green;
 }

 .nav-links{
    box-shadow: inset 0 0 0 0 #3ded97;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  font-family: 'Righteous', cursive;
 } */
 .nav-links:hover .back{
  color:white;
}

.nav-links:hover{
  background-color: #124559;
  box-shadow: inset 200px 0 0 0 #124559;
}


.menu{
  display: none;
}

.nav-links{
  box-shadow: inset 0 0 0 0 #545AA7;
transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
font-family: 'Hind Siliguri', sans-serif;
font-size:16px;
margin:0px 2px;
}

@media only screen and (max-width:900px){

 .nav-links{
  font-size:14px;
 }
}  

 
 .icon:hover{
   scale:1.20;
 }

 .logo{
   animation-name:identifier3;
   animation-duration: 8s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   font-size:25px;
 }


 @keyframes identifier3 {
   0%    { color: red; }
   25%   { color: Maroon  }
   50%   { color: rgb(70, 70, 238); }
   75%  { color: purple }
   100%  { color: red; }
 }


 @media only screen and (max-width:700px)
 {
   .logo
   {
      font-size:20px;
    }
  }

@media only screen and (max-width:900px){
 .menu
 {
  display: block;
 }

 .nav2
 {
  display:none;
 }

}

