.contact
{
    display:flex;
    justify-content:center;
    align-items:center;
    animation-name:identifier1;
      animation-duration:2s;
        animation-timing-function:linear;
        animation-iteration-count: 1;

}

@keyframes identifier1 
{
0%    {opacity:0  }
25%   { opacity: 0.25; }
50%   { opacity: 0.5; }
75%   { opacity: 0.75; }
100%  { opacity:1; }
}



.card-links img{
  transition: all .3s ease-in-out;
} 

.card-links a{
text-decoration: none;
}


.card-links img:hover{
  transform: scale(1.4);
}
.Line
{
  font-size: 50px;
}

@keyframes identifier2
      {
        0%    { color: red; }
    25%   { color: Maroon  }
    50%   { color: rgb(70, 70, 238); }
    75%  { color: purple }
    100%  { color: red; }
      }


 .card-links{
    box-shadow: inset 0 0 0 0 grey;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
 }




  .Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:100px 100px;
}
.contact-input1{
    display:flex;
    flex-direction:row;
    width:100%;
}

.contact-input1-input{
  width: 50%;
  border-bottom: 1px solid red !important;
}

.css-mqt2s5{
  color:red !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input{
  color: red !important;
}

.css-mnn31{
  color: red !important;
}
.contact-input2-input{
  border-bottom: 1px solid red !important;
}
.Contact-Box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Contact-Box-1{
    width: 70%;
    
}


.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
  color:red !important;
}
.Contact-Box-2{
    width: 30%;
    padding:10px 50px;
}

.Contact-Button .button-radio{
    padding:10px 10px;
    width:180px;
    color:black;
    border:2px solid black;
    background-color:transparent;
    border-radius: 5px;
    margin:10px 10px 0px 0px;
    padding:0;

}

.Contact-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

label:checked {
    background-color: blue;
 } 
.Contact-Heading-1{
    font-size:90px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    font-weight:800;
}

.Contact-Heading-2{
    font-size:90px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    font-weight:800;
}


.button-radio {
    margin: 0 10px 0 0;
    width: 150px;
    height: 40px;
    position: relative;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-radio label,
  .button-radio input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .button-radio input[type="radio"] {
    opacity: 0.011;
  }
  
  .button-radio input[type="radio"]:checked + label {
    background: black;
    color:white;
    border-radius: 4px;
  }
  
  .button-radio label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
  }

@media only screen and (max-width:900px) {
    .Contact-Heading-1{
        font-size:40px;
        justify-content: center;

    }
    
    .Contact-Heading-2{
        font-size:35px;
        justify-content: center;
    }
    .Contact-Box{
        flex-direction: column;
    } 

    .Contact-Box-1{
        width: 100%;
        
    }
    
    .Contact-Box-2{
        width: 100%;
        padding:0;
        margin: 50px;
    }

    .Contact{
        margin:20px 20px;
    }

    .contact-input1{
        flex-direction:column;
    }
    
    .contact-input1-input{
      width: 100%;
    }
    .Contact-Box-11{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }